<form class="periodic-reminders-config">

    <ol class="reminders-container">
        {{#each reminders as |reminder reminderIndex|}}
            <li class="reminder{{#unless reminder.isActive}} deactivated{{/unless}}" reminderId={{reminder.id}}>
                <div class="head">
                    <a name="expandReminder" title="{{#if (lookup (lookup @root.formAppStateRecord reminder.id) "hasFormSettingsHidden")}}Expand{{else}}Collapse{{/if}} {{reminder.title}}">
                        <i class="fas {{#if (lookup (lookup @root.formAppStateRecord reminder.id) "hasFormSettingsHidden")}}fa-caret-right{{else}}fa-caret-down{{/if}}"></i>
                    </a>
                    <div class="title{{#if (lookup (lookup @root.formAppStateRecord reminder.id) "hasFormSettingsHidden")}} expanded{{/if}}">
                        <input type="text" name="reminderTitle" placeholder="Title" value="{{reminder.title}}">
                    </div>
                    <a name="testReminder" title="Test {{reminder.title}}">
                        <i class="fas fa-bell"></i>
                    </a>
                    <a name="toggleReminder" title="Switch {{#if reminder.isActive}}Off{{else}}On{{/if}} {{reminder.title}}">
                        <i class="fas fa-power-off"></i>
                    </a>
                    <a name="deleteReminder" title="Delete {{reminder.title}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
                <div name="hideable-settings" class="body{{#if (lookup (lookup @root.formAppStateRecord reminder.id) "hasFormSettingsHidden")}} hidden{{/if}}">
                    <ol>
                        <li class="header">
                            <div>
                                Triggers
                            </div>
                            <a name="addTrigger" title="Add Trigger">
                                <i class="fas fa-plus"></i>
                            </a>
                        </li>
                        {{#each triggers as |trigger triggerIndex|}}
                            <li class="trigger" triggerId="{{trigger.id}}">
                                <select name="triggerType" required>
                                    {{selectOptions @root.triggerSelect selected=trigger.type}}
                                </select>
                                {{#if (eq trigger.type "timer")}}
                                    <div class="trigger-config">
                                        <label>Period<i class="fas fa-question-circle" title="The time in minutes it takes for the reminder to trigger."></i></label>
                                        <input type="number" name="triggerPeriod" value="{{trigger.period}}" placeholder="Period" min="0.25" required>
                                    </div>
                                    {{/if}}
                                {{#if (eq trigger.type "turn")}}
                                    <div class="trigger-config">
                                        <label>Turns<i class="fas fa-question-circle" title="The maximum number of turns after your character's turn that this reminder should trigger. Negative values will cause this reminder to trigger a number of turns before the turn of your character."></i></label>
                                        <input type="text" name="triggerTurns" value="{{trigger.turns}}" placeholder="Turns" step="1" pattern="[\+\-]?\d+" required>
                                    </div>
                                {{/if}}
                                <a name="removeTrigger" title="Remove Trigger">
                                    <i class="fas fa-solid fa-xmark"></i>
                                </a>
                            </li>
                        {{/each}}
                    </ol>
                    <ol class="linkdrop">
                        <li class="header">
                            <div>
                                Application Links
                            </div>
                            <a name="arrangeAppLinkSheets" title="Arrange Application Link Sheets">
                                <i class="fas fa-crop-alt fa-fw"></i>
                            </a>
                        </li>
                        {{#each appLinks as |appLink appLinkIndex|}}
                            {{{periodicReminders_appLink appLink appLinkIndex}}}
                        {{/each}}
                    </ol>
                </div>
            </li>
        {{/each}}
    </ol>

    <footer class="footer-menu">
        <button type="button" name="addReminder"><i class="fas fa-plus"></i> Add</button>
        <button type="button" name="revertChanges"><i class="fas fa-undo"></i> Revert Changes</button>
        <button type="submit" name="submit"><i class="fas fa-save"></i> Submit</button>
    </footer>

</form>